.form-container{
    padding:20px;
    background:#0a0a0a ;
    border:2px solid #c5a059;
    display:flex;
    flex-direction: column;
    gap:10px;
    max-width:750px;
    margin:50px auto;
    color: #c5a059;
    padding: 20px;
}

.inputRow{
    display:flex;
    gap:50px;
}
input,select,textarea {
    width: 100%;
    padding: 10px;
    background: #1a1a1a;
    border: 1px solid #444;
    border-radius: 6px;
    color: white;
    outline: none;
    box-sizing: border-box;
}
.checkbox-group {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    justify-items: center;
    align-items: center;
    gap: 5px 70px;
    margin-top: 10px;
    padding: 20px;
}
.submit{
 padding:12px 20px;
 width: auto;
 min-width:150px;
 background: #c5a059;
 border:none;
 border-radius:8px;
 color: #000;
 font-weight: bold;
}