
.admin-tabela-container {
    padding: 20px;
    background-color: #000;
    color: #fff;
    margin-top: 50px;
    border-radius: 8px;
    
}


.admin-tabela {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    text-align: left;
    background-color: #000;
}

.admin-tabela th {
    background-color: #c5a059;
    color: #000;
    padding: 12px;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: bold;
}

.admin-tabela td {
    padding: 10px;
    border-bottom: 1px solid #222;
    vertical-align: middle;
}


.gold-text {
    color: #c5a059;
    font-weight: bold;
}

.admin-tabela input,
.admin-tabela textarea {
    width: 100%;
    background-color: #1a1a1a;
    color: #fff;
    border: 1px solid #444;
    padding: 5px;
    border-radius: 4px;
}


.btn-izmjeni,
.btn-obrisi {
    border: none;
    color: #0c0b0b !important;
    padding: 8px 15px;
    cursor: pointer;
    margin: 2px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    min-width: 90px;
    transition: 0.3s;
}


.btn-izmjeni {
    background-color: #9cf907 !important;
}

.btn-obrisi {
    background-color: #f84c0d !important;
}

.admin-tabela td:nth-child(8),
.admin-tabela td:nth-child(9) {
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.edit-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.edit-modal {
    background: #111;
    padding: 25px;
    border: 1px solid #c5a059;
    border-radius: 10px;
    width: 450px;
}

.edit-modal h2 {
    color: #c5a059;
    margin-top: 0;
}

.edit-modal input,
.edit-modal textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    background: #222;
    color: white;
    border: 1px solid #444;
    border-radius: 4px;
}

.btn-save {
    background: #c5a059;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    border-radius: 4px;
}

.btn-save:hover {
    background: #b08d4a;
}